/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif; /* Set a standard font */
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  padding: 20px;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}

.Editor {
  flex: 1;
  max-width: 800px;
  height: 500px;
  border: 1px solid #ccc;
  text-align: left;
  overflow: hidden; /* Hide any overflow */
}

.NexysA7 {
  flex: 1;
  max-width: 800px;
  height: auto;
  border: 1px solid #ccc;
}

.editor-container {
  text-align: left !important;
}

.editor-container .monaco-editor {
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.monaco-editor .view-lines {
  text-align: left !important;
  white-space: nowrap; /* Prevent wrapping of text */
}

#container {
  overflow-y: auto; /* Allow vertical scrolling */
}

.myBreakpoint {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}